// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// buttons and links
$blue: #3C64B1;
$dark-blue:#2C4F94;
$medium-gray: rgb(161, 161, 161);
$transparant-black: rgba(0, 0, 0, 0.25);