<div class="infoCard">
  <div class="row p-2">
    <div class="col-4">
      <% if user.photo.attached? %>
        <%= cl_image_tag "#{user.photo.key}", crop: :fill, class: 'info-avatar' %>
      <% else %>
        <i class="fas fa-user-circle fa-2x" style="font-size: 60px"></i>
      <% end %>
    </div>
    <div class='col-8'>
      <h3 class='name'><%= link_to user.first_name, user_path(user) %></h3>
      <h5 class='text-secondary'>
      <% if  user.listings.count == 1%>
        <%= link_to "#{user.listings.count} Listing", user_path(user), class:'listing-link' %>
      <% else %>
        <%= link_to "#{user.listings.count} Listings", user_path(user), class:'listing-link' %>
      <% end %>
      </h5>
    </div>
  </div>
</div>
