<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<h4><%= "#{@user.country}" %></h4>

<!-- # if user is equal to current_user,
# we will show the users reviews, listings and transactions
# else we only show reviews and listings
 -->
