<div class="footer">
  <div class="footer-section">
    <h2>Wonderobe</h2>
    <p>Worldwide clothes store since 2021. We sell over 1000+ branded products on our website.</p>
    <p><i class="fas fa-map-marker-alt"></i> London</p>
    <p><i class="fas fa-phone"></i> +3335555777</p>
  </div>
  <div class="footer-section">
    <h2>Menu</h2>
    <p>Products</p>
    <p>Inspirations</p>
    <p>About Us</p>
    <p>Terms & Policy</p>
  </div>
  <div class="footer-section">
    <h2>Account</h2>
    <p>My Account</p>
    <p>Checkout</p>
    <p>My Cart</p>
    <p>My Catalog</p>
  </div>
  <div class="footer-section">
    <h2>Stay Connected</h2>
    <p><i class="fab fa-facebook-square"></i> Facebook</p>
    <p><i class="fab fa-instagram"></i> Instagram</p>
    <p><i class="fab fa-twitter"></i> Twitter</p>
  </div>
</div>
