<div class="banner">
   <div class="banner-text">
      <h3>WELCOME TO WONDEROBE</h3>
      <h1>Buy & Sell Pre-loved clothes</h1>
      <p>Discover new ways to express yourself & Give your old clothes a new home.
      Here on Wonderobe</p>
      <%= link_to "sign up", new_user_session_path, class: "btn btn-outline-primary" %>
   </div>
</div>