<div class="banner" style="background-image: url(<%= cl_image_tag("bg")%>)">
   <div class="banner-text">
      <h4>WELCOME TO WONDEROBE</h4>
      <h1>Buy & Sell</h1>
      <h1>Pre-loved clothes</h1>
      <p>Discover new ways to express yourself & Give your old clothes a new home.</p>
      <p>Here on Wonderobe</p>
      <%= link_to "sign up", new_user_session_path, class: "btn btn-outline-primary" %>
   </div>
</div>