<div class="container">
  <h2 class="mb-4">Most viewed in <%= Date.today.strftime("%B") %></h2>
</div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators indicators  mb-3">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active indicator"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="indicator"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class="indicator"></li>
    </ol>
    <div class="carousel-inner mb-3">
      <% if @top_listings.empty? %>
        <% listings = @listings %>
      <% else %>
        <% listings = @top_listings %>
      <% end %>
      <% card_slices = listings.slice(0..2) %>
        <div class="carousel-item active">
          <div class="cards-listing row d-flex justify-content-center align-items-center">
             <% card_slices.each do |listing| %>
               <%= render './shared/card', listing: listing %>
             <% end %>
           </div>
        </div>
        <% if listings.size > 3 %>
          <% card_slices = listings.slice(3..5) %>
          <div class="carousel-item">
            <div class="cards-listing row d-flex justify-content-center align-items-center">
              <% card_slices.each do |listing| %>
                <%= render './shared/card', listing: listing %>
              <% end %>
              </div>
          </div>
        <% end %>
        <% if listings.size > 6 %>
          <% card_slices = listings.slice(6..8) %>
          <div class="carousel-item">
            <div class="cards-listing row d-flex justify-content-center align-items-center">
              <% card_slices.each do |listing| %>
                <%= render './shared/card', listing: listing %>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" fill="black"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
