.banner{
	position: relative;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	height: 495.04px;
	background-image: url(/app/images/bg.png);
	background-size: cover;
}

.banner-text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
}