.banner{
	position: relative;
	top: -2rem;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 500px;
}

.banner-text{
	display: flex;
	width: 430px;
	margin-right: 250px;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	p{
		font-family: $main-font;
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
		line-height: 22px;
		letter-spacing: 0.3px;
		color: $white;
		text-shadow: -1px 2px 1px $transparant-black;
	}

	h4{
		font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		color: $blue;

	}

	h1{
		font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
		line-height: 56px;
    letter-spacing: 0.2px;
    color: $black;
	}
	a{
		margin-right: 0;
		padding: 8px 10px;
	}
}

.background-image-home{
	background-image: url("https://res.cloudinary.com/dh5s1kdcd/image/upload/v1620766332/lus6gycqz8bawz9gezfb.png");
	background-size: cover;
}

.background-image-index{
  background: url("http://res.cloudinary.com/dh5s1kdcd/image/upload/v1620930367/yue8zdtx973wfsnjfjkg.jpg");
	background-position: center;
	mix-blend-mode: normal;
	opacity: 0.5;
	box-sizing: border-box;
	height:490px;
	width:100vw;
	margin-top: 20px;
	margin-bottom: 0px;
}
