.btn {
  text-decoration: none;
  background-color: $blue;
  color: $white;
  padding: 8px 32px;
  border-radius: 4px;
  &:hover{
    opacity: 90%;
    color: $white;
  }
}

.btn-offer {
  text-decoration: none;
  background-color: $white;
  color: $blue;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px solid $blue;
  &:hover{
    color: $dark-blue;
  }
}

.favourite-btn{
  background-color: transparent;
  border: none;
}

.favourited-heart{
  color: $red;
  font-size: 24px;
  &:hover{
    color: $black;
  }
}

.purchased-button{
  background-color: $medium-gray;
}


.collapsible {
  display: inline-block;
  color: $blue;
  cursor: pointer;
  padding: 8px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
}


.active, .collapsible:hover {
  color: $black;
}


.hot-listing{ 
  position:absolute;
  right: 8px;
  top: 8px;
  color: $dark-red;
  font-size: 32px;
  background-color: $pale-orange;
  padding: 0 10px;
  border-radius: 50%;
  text-shadow: 2px 2px 6px $transparant-black;
}

.new-listing{
  position:absolute;
  right: 8px;
  top: 8px;
  color: $dark-green;
  font-size: 18px;
  background-color: $light-green;
  padding: 10px 4px;
  border-radius: 50%;
  text-shadow: 4px 4px 6px $transparant-black;
}

.large-listing{
  top: 16px;
  right: 180px;
  transform:scale(150%);
  box-shadow: 2px 2px 8px $transparant-black;
}

.upload-btn {
  border: 1px solid $blue;
  padding: 8px 32px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 4px;
}

