.btn {
  text-decoration: none;
  background-color: $blue;
  color: $white;
  padding: 8px 32px;
  border-radius: 4px;
  &:hover{
    opacity: 90%;
    color: $white;
  }
}

.btn-offer {
  text-decoration: none;
  background-color: $white;
  color: $blue;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px solid $blue;
  &:hover{
    color: $dark-blue;
  }
}

.favourite-btn{
  background-color: transparent;
  border: none;
}

.favourited-heart{
  color: $red;
  font-size: 24px;
  &:hover{
    color: $black;
  }
}

.purchased-button{
  background-color: $medium-gray;
}


.collapsible {
  display: inline-block;
  color: $blue;
  cursor: pointer;
  padding: 8px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 28px;
}


.active, .collapsible:hover {
  color: $black;
}

.upload-btn {
  border: 1px solid $blue;
  padding: 8px 32px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 4px;
}
