.card {
  display: grid;
  width: 18rem;
  height:320px;
  border-radius: 4px;
  border: 0;
  box-shadow: -4px 4px 4px grey;
  margin: 14px;
}

.card-link{
  text-decoration: none;
  color: $black;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}


.small{
  height: 250px;
}

// .review-card{
//   display:flex;
//   width: 500px;
//   height: 350px;
//   flex-direction:row;
//   padding: 10px;
//   margin: 20px;
//   .card-left{
//     width: 90px;
//   }
//   .card-right{
//     flex-grow: 1;
//   }
//   p{
//     margin: 2px;
//   }
// }

.review-card {
  display: flex;
  width: 500px;
  height: 330px;
  padding: 20px;
  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

.top-user {
  display: flex;
}

.card-right {
  margin-left: 20px;
  margin-bottom: 0px;
}

.card-img {
 border-radius: 4px 0 0 4px;
}

.cards-listing {
  display: flex;
  justify-content:flex-start;
  align-items: stretch;
  flex-wrap:wrap;
}

.card-img-overlay {
  color: $black;
  height: 32px;

  span {
    margin: 1px;
    padding: 5px 12px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: -1.5px 1.5px 1.5px $gray;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.card-body{
  display:flex;
  justify-content: space-between;
  max-width: 18rem;
  h3 {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: wrap;
    overflow: hidden;
    padding-bottom: 5px;
    text-overflow: ellipsis;
  }

  h4{
    font-family: $main-font;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    margin-top: 5px;

  }

  p{
    text-align: center;
    padding-bottom: 0;
  }
}

.card-links{
  position:absolute;
  text-align:center;
  bottom:10px;
  width: 100%;
}
