.main-container {
  display: flex;
  justify-content: center;
  margin-top: -24px;
}

.cards-listing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 8px;
  flex-grow: 1;
}

#map {
  width: 100%;
  height: 100vh;
  top: 0;
  position: sticky;
  padding: 0px 16px;
}

.mapboxgl-popup {
  white-space: normal;
  padding: 1rem;
}

.mapboxgl-popup-content {
  border-radius: 8px !important;
  padding: 0px !important;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.infoCard{
  border-radius: 8px;
  border: 0;
  box-shadow: -4px 4px 4px rgba(0,0,0,0.4);
}

// .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
//   background-color: #3fb1ce;
// }

// .mapboxgl-popup-tip{
//   background-color: #3fb1ce;
//   width: 0;
//   height: 0;
//   border: 10px solid transparent;
//   z-index: 1;
// }

.info-avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.name{
  padding: 4px;
  font-size: 16px;
  overflow-wrap: break-word;
  color: $black;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover{
      color: $blue;
    }
  }
}

.listing-link{
  font-size: 16px;
  text-decoration: none;
  color: $black;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}


@media(max-width: 1500px) {
  .cards-listing {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-listing {
    grid-template-columns: 1fr;
  }
}

